/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  color: #f7f7f7; 
  
    
  
}

h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 15px;
}

h3 {
  font-size: 2em;
  color: #ffffff;
  margin: 10%;
  margin-bottom: 10%;
}

/* Section Styling */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 100%;
  border-radius: 10px;
}

/* Left Text Section */
.text-left {
  flex: 1;
  margin-right: 20px;
}

.text-left span {
  font-weight: bold;
  color: #e8dada;
}

.text-left p {
  margin: 10px 0;
  line-height: 1.6;
}

.social-media {
  margin-top: 20px;
}

.social-btn {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2em;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.social-btn.facebook {
  background-color: #e7e7e7;
}

.social-btn.twitter {
  background-color: #e8eff3;
}

.social-btn.instagram {
  background: radial-gradient(circle at 30% 30%, #fdf497, #fd5949, #d6249f, #285aeb);
}

.social-btn:hover {
  transform: scale(1.1);
}

/* Right Image Section */
.img-right {
  flex: 1;
  text-align: center;
}

.section-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .section {
      flex-direction: column;
      text-align: center;
  }

  .text-left {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .img-right {
      text-align: center;
  }
}

/* Map Container Styling */
.map-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
}

.map-container h3 {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.map-frame {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.map-frame:hover {
  transform: scale(1.02);
}

/* Responsive Map */
@media screen and (max-width: 768px) {
  .map-frame {
      height: 300px;
  }

  .map-container h3 {
      font-size: 1.5em;
  }
}

